extends layout

block content
  .container(ng-app='emailSender' ng-controller='mailController as mail')
    .panel
      .panel-heading
        h2.panel-title.text-center Compose an Email
      .panel-body
        .modal.fade(id='resModal')
          .modal-dialog(role='document')
            .modal-content
              .modal-body
                p {{mail.response}}
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close

        form.form-horizontal(name='mailForm', ng-submit='mailForm.$valid && mail.send()')
          h3.form-label from
          .form-group
            label.col-sm-1.col-sm-offset-1(for='nameSender') Name
            .col-sm-4
              input.form-control(type='text', name='nameSender', ng-model='mail.sender.name', required, autofocus=true)
            label.col-sm-1(for='emailSender') Email
            .col-sm-4
              input.form-control(type='email', name='emailSender', ng-model='mail.sender.email', required)
          h3.form-label to
          .form-group
            label.col-sm-1.col-sm-offset-1(for='nameReceiver') Name
            .col-sm-4
              input.form-control(type='text', name='nameReceiver', ng-model='mail.receiver.name', required)
            label.col-sm-1(for='emailReceiver') Email
            .col-sm-4
              input.form-control(type='email', name='emailReceiver', ng-model='mail.receiver.email', required)
          h3.form-label content
          .form-group
            label.col-sm-2.col-sm-offset-1(for='subject') Subject
            .col-sm-7
              input.form-control(type='text', name='subject', ng-model='mail.content.subject', required)
          .form-group
            label.col-sm-2.col-sm-offset-1(for='body') Body
            .col-sm-7
              textarea.form-control(name='body', ng-model='mail.content.body', rows='7')
          .form-group
              button.btn.btn-primary.col-sm-offset-4.col-sm-5(type='submit') Submit
